.product-card{
  height: 60vh;
  width: 100%;  
}
.pro-card-img{
  height: 80%;
  width: 100%; 

  position: relative;  
  display: inline-block;  
  overflow: hidden;  
}

.pro-card-img:hover::after {
  color: white;  
  opacity: 1;  
}
.pro-card-img:hover img {
  filter: blur(2px); 
}

.pro-card-img img {
  display: block;  
  max-width: 100%;  
  height: auto;  
  transition: filter 0.2s ease;  
}
.pro-card-img::after {
  content: "+";  
  position: absolute;  
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);  
  font-size: 3em;  
  color: transparent;  
  opacity: 0;  
  transition: opacity 0.3s ease;  
}
.pro-card-img img{
  width: 100%;
  height: 100%; 
  border-radius: 5px ;

}
.pro-card-text{
  height: 20%;
  width: 100%; 
  font-size: large;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center; 
  font-weight: 100;
}
.pro-card-text p{
  padding-top: 20px;
  margin: 0;
  color: rgb(61, 48, 48);
}